<div class="album py-5 bg-light">
    <div class="container">
        <div class="jumbotron bg-primary jumbotron-fluid my-5">
            <div class="container">
                <h1 class="display-4" style="color:white">we don't have any new articles.</h1>
                <p class="lead" style="color:white">Try Scraping New Articles or Go to Saved Articles</p>
            </div>
        </div>
    </div>
  </div>

</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script src="/js/clear.js"></script> --}}